<!DOCTYPE html>
<html>

<head>
    <title>All the Good News That's Fit to Scrape</title>
    <!-- BOOTSTRAP - Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP - Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <img src = "../public/images/goodnews.png" alt="Good News, Inspiring, Positive Stories" class="center-block">
            <h1 class="text-center text-primary">"All the Good News That's Fit to Scrape"</h1>
        </div>
        <div class="row">
            <div class="col-md-2"></div>            
            <div class="col-sm-12 col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h2 class="text-center">Story Title</h2></div>
                    <div class="panel-body">
                        <img src="imglink" alt="title" class="img-thumbnail center-block">
                        <p>Story Summary</p>
                        <p><a href="storylink" target="_blank"><button class="btn btn-primary">Read Story</button></a>
                        <h3 class="text-center text-primary">Comments</h3>
                        <p>Comment</br>
                        Name</p>
                        <button id="deleteComment" class="btn btn-primary btn-xs">Delete Comment</button>
                        <h3 class="text-center text-primary">Add Comment</h3>
                        <p><input type="text" placeholder=" Your Name"></p>
                        <p><textarea rows="5" placeholder=" Your Comment"></textarea></p>
                        <button id="deleteComment" class="btn btn-primary btn-xs">Add Comment</button>
                    </div>
                    <div class="panel-footer">
                        <button id="previous" class="btn btn-primary">Previous Story</button>
                        <button id="next" class="btn btn-primary pull-right">Next Story</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <footer>
        	<h6 class="text-center">(c) 2017 Wes Van Duine</h6>
        </footer>
    </div>
</body>

</html>